In [1]:
my_list = ['Tom Brady','Brett Farve','Payton Manning','John Elway','Von Miller','Derek Wolfe','Tony Romo']
print(my_list)
#now i will remove a crappy player
my_list.remove('Tony Romo')
print(my_list)
# Output:['Tom Brady', 'Brett Farve', 'Payton Manning', 'John Elway', 'Von Miller', 'Derek Wolfe']
# inserting player to list at 7th position
my_list.insert(6, 'Baker Mayfield' )
print(my_list)
# Output: ['Tom Brady', 'Brett Farve', 'Payton Manning', 'John Elway', 'Von Miller', 'Derek Wolfe', 'Baker Mayfield']
my_list.remove('Baker Mayfield')
print(my_list)
# Output:['Tom Brady', 'Brett Farve', 'Payton Manning', 'John Elway', 'Von Miller', 'Derek Wolfe']

['Tom Brady', 'Brett Farve', 'Payton Manning', 'John Elway', 'Von Miller', 'Derek Wolfe', 'Tony Romo']
['Tom Brady', 'Brett Farve', 'Payton Manning', 'John Elway', 'Von Miller', 'Derek Wolfe']
['Tom Brady', 'Brett Farve', 'Payton Manning', 'John Elway', 'Von Miller', 'Derek Wolfe', 'Baker Mayfield']
['Tom Brady', 'Brett Farve', 'Payton Manning', 'John Elway', 'Von Miller', 'Derek Wolfe']

In [6]:
# starting at 1, Giannis Antetokounmpo, it will print out to the 3rd element, Nikola Jokic.
a_list = ['Giannis Antetokounmpo', 'Anthony Davis', 'Nikola Jokic', 'Blake Griffin', 'Donovan Mitchell', 'Mike Conley']
print(a_list[1:3])
#starting at 1, Giannis Antetokounmpo, it will print out to the 4th element, Blake Griffin.
a_list = ['Giannis Antetokounmpo', 'Anthony Davis', 'Nikola Jokic', 'Blake Griffin', 'Donovan Mitchell', 'Mike Conley']
print(a_list[:4])
#starting at 3rd element, Blake Griffin, it will print out to the last element, Mike Conley.
a_list = ['Giannis Antetokounmpo', 'Anthony Davis', 'Nikola Jokic', 'Blake Griffin', 'Donovan Mitchell', 'Mike Conley']
print(a_list[3:])
#starting at 0, Giannis Antetokounmpo, it will print out to the last element, Mike Conley.
a_list = ['Giannis Antetokounmpo', 'Anthony Davis', 'Nikola Jokic', 'Blake Griffin', 'Donovan Mitchell', 'Mike Conley']
print(a_list[:])
#starting at -3, Blake Griffin, it will print out to the -1 element, Donovan Mitchell.
a_list = ['Giannis Antetokounmpo', 'Anthony Davis', 'Nikola Jokic', 'Blake Griffin', 'Donovan Mitchell', 'Mike Conley']
print(a_list[-3:-1])

['Anthony Davis', 'Nikola Jokic']
['Giannis Antetokounmpo', 'Anthony Davis', 'Nikola Jokic', 'Blake Griffin']
['Blake Griffin', 'Donovan Mitchell', 'Mike Conley']
['Giannis Antetokounmpo', 'Anthony Davis', 'Nikola Jokic', 'Blake Griffin', 'Donovan Mitchell', 'Mike Conley']
['Blake Griffin', 'Donovan Mitchell']

In [2]:
Squares = []
for i in range(1,101):
    Squares.append(i**2)
    
print(Squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [4]:
squares2 = [i**2 for i in range(1,101)]
print(squares2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [34]:
squares2 = [i**2 for i in range(1,101)]
squares2.sort()
print (squares2)
print(sum(squares2))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]
338350

In [1]:
odd = [2*n+1 for n in range(10)]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [4]:
odd2 = []
for n in range(10):
    odd2.append(2*n+1)
print(odd2[4])

9